.DS_Store
*.pyc
__pycache__/
.env
*.h2.db.venv
.vscode/
*.png
.idea/
.venv/
*.db
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.sonar/
sonar-metrics.json
sonar-issues.json
sonar-measures.json
sonar-issues-alt.json
test-results.xml
.pytest_cache/
TutorialCanciones/
env/
ENV/
env.bak/
venv.bak/
videos/
/storeapi/uploads/
