name: anb-worker
services:
  worker:
    build:
      context: ./
      dockerfile: worker.Dockerfile
    command: ["python", "-m", "message_broker.worker"]
    depends_on:
      kafka:
        condition: service_healthy

    env_file:
      - ./.env
    volumes:
      - ./:/app