name: anb-worker
services:
  worker:
    build:
      context: ./
      dockerfile: worker.Dockerfile
    command: ["python", "-m", "message_broker.worker"]
    restart: on-failure
    env_file:
      - ./.env
    volumes:
      - ./:/app